<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mrcrayfish.app"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.MenuActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.VideoMenuActivity"
            android:label="@string/title_activity_videos_menu" >
        </activity>
        <activity
            android:name=".activities.EmptyActivity"
            android:label="@string/title_activity_empty" >
        </activity>
        <activity
            android:name=".activities.VideosActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_latest_videos" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mrcrayfish.app.activities.GridActivity" />
        </activity>
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name=".activities.PlaylistActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_playlist" >
        </activity>
        <activity
            android:name=".activities.SavedVideosActivity"
            android:label="@string/title_activity_saved_videos" >
        </activity>

        <service android:name=".services.ServiceVideoChecker" />

        <receiver android:name=".receivers.WatchReceiver" />
        <receiver android:name=".receivers.SaveReceiver" />

        <activity
            android:name=".activities.BlogActivity"
            android:label="@string/title_activity_blog" >
        </activity>
        <activity
            android:name=".activities.SocialActivity"
            android:label="@string/title_activity_social" >
        </activity>
        <activity
            android:name=".activities.SoundboardActivity"
            android:label="@string/title_activity_soundboard" >
        </activity>
        <activity
            android:name=".activities.ModsActivity"
            android:label="@string/title_activity_mods" >
        </activity>
        <activity
            android:name="com.mrcrayfish.app.activities.ModActivity"
            android:label="@string/title_activity_mod" >
        </activity>
    </application>

</manifest>